{% if request.user.is_authenticated %}
    <p>{{ request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<h1>Todo List</h1>

<a href="{% url 'task-create' %}">New Task</a>

<table border="1" width="50%" align="center">
    <tr>
        <th>Items</th>
        <th colspan="3"></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td> <a href="{% url 'task' task.id %}">View</a> </td>
        <td> <a href="{% url 'task-update' task.id %}">Edit</a> </td>
        <td> <a href="{% url 'task-delete' task.id %}">Delete</a> </td>
    </tr>
    {% empty %}
    <tr>
        <td><h3>No Todo Items</h3></td>
    </tr>
    {% endfor %}
</table>